<h2 class="h2-our-brands">Бренды</h2>
<div class="row">
	<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section class="balloon brands-slider">
			<div class="row">
				{__(apply(/records)__}
				<div class="col col7-xs-7 col7-sm-1 col7-md-1 col7-lg-1">
				<a href="/catalog/brand/{__name__}/" class="brand-logo">
				<h3>{__title__}</h3>
				<img class="img-responsive hidden-xs" alt="" src="/filestorage/mark2/m2_manufacturer_files/{__real_name__}">
				</a>
				</div>
				{__apply)__}
				{REM}
				<div class="col col7-lg-1 brand-button-all">
				<a href="/brands">
				<span>Все бренды <i class="fa fa-angle-right"></i></span>
				</a>
				</div>
				{MER}
			</div>
		</section>
	</div>
</div>


