<br>
	<h3>&nbsp;&nbsp;Брэнды</h3>
<ul>
	<li><a href="./">Все</a></li>
			{__(apply(/records)__}
			<li>
				<a href="./?brand={__id__}">{__title__}</a>
			</li>
			{__apply)__}
		</ul>
<br>
	<h3>&nbsp;&nbsp;Литраж</h3>
<ul>
	<li><a href="./">Все</a></li>
			<li>
				<a href="./?litr=0.2">0.2</a>
				</li>
				<li>
				<a href="./?litr=0.25">0.25</a>
				</li>
				<li>
				<a href="./?litr=0.33">0.33</a>
				</li>
				<li>
				<a href="./?litr=0.35">0.35</a>
				</li>
				<li>
				<a href="./?litr=0.45">0.45</a>
				</li>
				<li>
				<a href="./?litr=0.5">0.5</a>
				</li>
				<li>
				<a href="./?litr=0.6">0.6</a>
				</li>
				<li>
				<a href="./?litr=0.9">0.9</a>
				</li>
				<li>
				<a href="./?litr=0.95">0.95</a>
				</li>
				<li>
				<a href="./?litr=1">1</a>
				</li>
				<li>
				<a href="./?litr=1.25">1.25</a>
				</li>
				<li>
				<a href="./?litr=1.5">1.5</a>
				</li>
				<li>
				<a href="./?litr=1.75">1.75</a>
				</li>
				<li>
				<a href="./?litr=1.93">1.93</a>
				</li>
				<li>
				<a href="./?litr=2">2</a>
				</li>
				<li>
				<a href="./?litr=2">2</a>
				</li>
				<li>
				<a href="./?litr=2.25">2.25</a>
			</li>
		</ul>

