    <div class="form-inline filter-price">
        <h4 class="text-uppercase">Цена, <i class="fa fa-rub"></i></h4>
        <div class="filter-price-block">
            <div class="form-group pull-left">
                <input type="text" class="form-control" id="sprice" placeholder="1" name="start_price" value="{__pstart__}">
            </div>
            <div class="form-group pull-right">
                <input type="text" class="form-control" id="eprice" placeholder="70000" name="end_price" value="{__pend__}">
            </div>
            <div class="mdash">&mdash;</div><br>
	    <div style="position:relative">
		    <input id="ex2" type="text" class="span2" value="" data-slider-min="{__min__}" data-slider-max="{__max__}" data-slider-step="5" data-slider-value="[{__pstart__},{__pend__}]"/>
	    </div>
            </div>
    </div>

