	<div class="m2_item_int">
				{__set(#prices = json_decode($prices_list))__}
				{__set(#files = json_decode($files_list))__}
				{__set(#texts = json_decode($text_list))__}
				{__set(#chars = json_decode($chars_list))__}
				<div class="preview">
				{__(apply(#files)__}
					{__(if(@position == 1)__}
					{__set(#fn = substr($real_name,0,-4))__}
					<img id="zoom1" src="/filestorage/mark2/m2_item_files/m-{__#fn__}.png" alt="" class = "cloudzoom" src = "images/small/image1.jpg" data-cloudzoom = "zoomImage: '/filestorage/mark2/m2_item_files/{__real_name__}'"/>
					{__if)__}
				{__apply)__}
				<div class="images">
				{__(apply(#files)__}
					{__set(#fn = substr($real_name,0,-4))__}
					<a  href="#" class="cloudzoom-gallery" data-cloudzoom = "useZoom: '#zoom1', image: '/filestorage/mark2/m2_item_files/m-{__#fn__}.png', zoomImage: '/filestorage/mark2/m2_item_files/{__real_name__}'">
						<img src="/filestorage/mark2/m2_item_files/s-{__#fn__}.png" alt=""/>
					</a>
				{__apply)__}
				</div>

				</div>
				<div class="info">
					<h1>{__title__}</h1>
					{__(apply(#chars)__}
						{__(if($type_id == 94)__}
							<div class="vnal">
							{__type_value_str__}
							</div>
							<div style="clear:both"></div>
						{__if)__}
					{__apply)__}

					<div class="divid"></div>
					<div class="preisc">
						<div class="annot">Цена зависит от количества изделий в заказе и категории ткани</div>
						<table>
							<tr>
								<th>от 10 шт.</th>
								<th>от 50 шт.</th>
								<th>от 100 шт.</th>
								<th>от 2500 шт.</th>
							</tr>
							<tr>
								<td>100 руб.</td>
								<td>800 руб.</td>
								<td>600 руб.</td>
								<td>уточните у нашего менеджера</td>
							</tr>
						</table>
						<p>
							Цена указана на <a href="" id="p_anno_tip" original-title="1 гр. ткани - габардин-стейч,-прайс ,наценка 0<br>2 гр. ткани - п/вискоза ,наценка 40%<br>3 гр.ткани - п/шерсть - наценка 50%<br> согласно каталога тканей." >1 категорию тканей</a>
						</p>
					</div>
					<h4><strong>Артикул:</strong> {__article__}</h4>
					{__(apply(#chars)__}
						{__(if($type_id == 110)__}
							<div class="sizes">
							<strong>Размеры:</strong> {__variable_value__}
							</div>
						{__if)__}
					{__apply)__}

					<p class="descr_header">Описание изделия:</p>
					{__(apply(#texts)__}
						{__(if($type == 3)__}
						<div class="item_descr">
							{__content__}
						</div>
						{__if)__}
					{__apply)__}
					{__(apply(#prices)__}
						<div class="price">
						Цена: {__price_value__} руб. {__content__}
						</div>
					{__apply)__}
					<div class="divid"></div>
					<div class="zak"><a style="{__(if(/basket[$item_id])__}display: none; {__else__} display: block{__if)__}" class="basket_btn" data-id="{__item_id__}" href=""><img src="/themes/avik/img/basket_blue.png"/> Предварительный заказ </a></div>
					<div class="zak"><a  style="{__(if(/basket[$item_id])__}display: block; {__else__} display:none{__if)__}" class="basket_btn_remove" data-id="{__item_id__}" href=""><img src="/themes/avik/img/basket_blue.png"/> Убрать из карзины</a></div>
					{__(if($show_link == 1)__}
						<div class="zak nofirst"><a href="/catalog/items/{__name__}/"><img src="/themes/avik/img/book.png"/> Подробное описание</a></div>
					{__if)__}
					<div class="zak nofirst"><a  onCLick="return false;" href="#"><img src="/themes/avik/img/folder.png"/>Предварительный рассчет</a></div>
					<div class="divid" style="margin-top: 25px;"></div>
					{__(apply(#chars)__}
						{__(if($type_id == 106)__}
							<div class="note">
							{__type_value_str__}
							</div>
						{__if)__}
					{__apply)__}

				</div>
	</div>

